.containDetail {
    display: flex;
    flex-direction: row;
}

.imgDetailContain {
    display: flex;
    flex-direction: column;
    width: 10%;
}

.imgDetail {
    width: 70px;
    margin-top: 10px;
    margin-left: 10px;
    border: 1px solid #ddd;
}

.imgDetail:hover {
    cursor: pointer;
}

.imgBigDetailContain {
    width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    margin-top: 20px
}

.imgBigDetail {
    width: 700px;
    height: 450px;
}

.containDetallesDetail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10%;
}

.nombreCodigoDetail {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nombreDetail {
    width: 100%;
    margin: auto;
}

.codigoDetail {
    color: #666;
    font-size: 12px;
}

.ulDetail {
    font-size: 13px;
    color: #333;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
}

.liDetail {
    margin-top: 20px;
}

.precioContain {
    display: flex;
    justify-content: center;
    align-items: center;
}

.precioDetail {
    font-size: 20px;
}

.containerBotonDetail {
    display: flex;
    justify-content: center;
    align-content: center;
}

.botonDetail {
    height: 45px;
    background-color: #880021;
    border: none;
    border-radius: 5px;
    color: #fff;
    width: 300px;
    transition: 1s all;
}

.botonDetail:hover {
    cursor: pointer;
    background-color: #bb1152;
}