.capsulaGlobal {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.containerBuscador {
    width: 50%;
    display: flex;
    background-color: rgb(248, 248, 248);
    align-items: center;
    justify-content: center;
    margin: 10px 10px;
    border-radius: 5px;
}

.buscador {
    margin: 15px;
    width: 80%;
    height: 30px;
    border: 1px solid #ddd;
    border-radius: 30px;
    outline: none;
    text-align: center;
}

.lupa {
    height: 25px;
    width: 25px;
    position: relative;
    left: 50px;
}

.capsulaItems {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 75%;
}