.capsulaGlobal {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    overflow-x: hidden;
}

.containerBuscador {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 10px;
    border: 1px solid rgb(220, 220, 220);
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
}

.buscador {
    margin: 15px;
    width: 80%;
    height: 30px;
    border: 1px solid #ddd;
    border-radius: 30px;
    outline: none;
    text-align: center
}

.lupa {
    height: 25px;
    width: 25px;
    position: relative;
    left: 50px;
}

.containerItemEspe {
    display: flex;
    width: 100vw;
}

.containerEspe {
    width: 20%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.containerEspe p {
    padding: 10px;
    font-size: 18px;
    color: #555;
    cursor: pointer;
}

.containerEspe button {
    font-size: 14px;
    width: 150px;
    height: 30px;
    border-radius: 100px;
    color: #fff;
    background-color: #880021;
    cursor: pointer;
    border: none;
    transition: 250ms border-radius, background-color 1s;
}

.containerEspe button:hover {
    background-color: #bb1152;
    border-radius: 5px;
}

.capsulaItems {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 80%;
    border-right: 1px solid #eee;
    border-left: 1px solid #eee;
}

@media(max-width:768px) {

    .containerBuscador {
        width: 70%;
    }

    .containerItemEspe {
        flex-direction: column;
        display: flex;
        align-items: center;
    }

    .containerEspe {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
        width: 90vw;
    }

    .capsulaItems {
        width: 100vw;
    }
}

@media(max-width:425px) {
    .containerBuscador {
        width: 90%;
    }

    .containerEspe h3 {
        font-size: 14px;
    }

    .containerEspe p {
        font-size: 10px;
    }

    .containerEspe button {
        width: 20%;
        font-size: 10px;
    }
}