.contenedorLista {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 28%;
    padding: 20px 10px 15px;
    border: 1px solid #eee;
    margin: 10px;
}

.imagenes {
    width: 250px;
    height: 250px;
}

.imagenes:hover {
    cursor: pointer;
}

.datos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.titulo1 {
    margin: 0;
    font-size: 14px;
    color: #333;
}

.titulo2 {
    padding-top: 15px;
    margin: 0;
    font-size: 12px;
    color: #555;
}

.espe {
    margin: 0;
    padding: 15px;
    border-bottom: 1px solid #eee;
    font-size: 12px;
    color: #555;
}

.boton {
    margin: 15px;
    width: 250px;
    height: 40px;
    background-color: #880021;
    border-radius: 5px;
    border: none;
    color: #fff;
    transition: all 1s;
}

.boton:hover {
    cursor: pointer;
    background-color: #bb1152;
}