.containerImgInicio {
    height: auto;
}

#carrusel-caja {
    -moz-animation: automatizacion 8s infinite linear;
    -o-animation: automatizacion 8s infinite linear;
    -webkit-animation: automatizacion 8s infinite linear;
    animation: automatizacion 8s infinite linear;
    -webkit-transition: all 0.75s ease;
    -moz-transition: all 0.75s ease;
    -ms-transition: all 0.75s ease;
    -o-transition: all 0.75s ease;
    transition: all 0.75s ease;
    height: auto;
    width: 300%;
}

#carrusel-contenido {
    margin: 0 auto;
    overflow: hidden;
    text-align: left;
}

.imagenesCarro {
    height: auto;
    width: 100vw;
}

.carrusel-elemento {
    float: left;
    width: 33.333%;
}

@-moz-keyframes automatizacion {
    0% {
        margin-left: 0;
    }

    30% {
        margin-left: 0;
    }

    35% {
        margin-left: -100%;
    }

    65% {
        margin-left: -100%;
    }

    70% {
        margin-left: -200%;
    }

    95% {
        margin-left: -200%;
    }

    100% {
        margin-left: 0;
    }
}

@-webkit-keyframes automatizacion {
    0% {
        margin-left: 0;
    }

    30% {
        margin-left: 0;
    }

    35% {
        margin-left: -100%;
    }

    65% {
        margin-left: -100%;
    }

    70% {
        margin-left: -200%;
    }

    95% {
        margin-left: -200%;
    }

    100% {
        margin-left: 0;
    }
}

@keyframes automatizacion {
    0% {
        margin-left: 0;
    }

    30% {
        margin-left: 0;
    }

    35% {
        margin-left: -100%;
    }

    65% {
        margin-left: -100%;
    }

    70% {
        margin-left: -200%;
    }

    95% {
        margin-left: -200%;
    }

    100% {
        margin-left: 0;
    }
}

.imgMedium {
    width: 100vw;
}

.titleSmall {
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 22px;
    color: #222;
}

.imgSmallContainer {
    display: flex;
    justify-content: space-around;
    height: 260px;
}

.imgSmall {
    height: 160px;
    width: 160px;
    border-radius: 10px;
}

.linkSmall {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px 20px;
    width: 20%;
    text-decoration: none;
    transition: 250ms all;
}

.linkSmall:hover {
    box-shadow: 1px 2px 0px #aaa;
}

.divSmall {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.divSmall:hover {
    cursor: pointer;
}

.titleSmall {
    font-size: 14px;
    color: #666;
}

@media (max-width: 768px) {
    .titleSmall {
        font-size: 10px;
    }

    .linkSmall {
        border: 1px solid #ddd;
        border-radius: 10px;
        padding: 3px 12px;
        width: 20%;
        text-decoration: none;
        transition: 250ms all;
    }

}

@media (max-width:425px) {

    .imgSmallContainer {
        height: 500px;
        display: flex;
        flex-wrap: wrap;
    }

    .linkSmall {
        margin-top: 10px;
        width: 40%;
    }
}

@media (max-width: 320px) {
    .linkSmall {
        width: 50%;
    }

    .imgSmallContainer {
        height: 1000px;
    }
}