.contenedor {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    border-bottom: 1px solid #eee;
}

.divGlobal {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 93px;
    margin-left: 5%;
}

.divSuperior {
    width: 95%;
    height: 46.5px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eee;
}

.lg {
    width: 52px;
    height: 11px;
}

.nav {
    width: 95%;
    height: 46.5px;
    display: flex;
    justify-content: space-between;
}

.contenedorSpan {
    width: 70%;
    display: flex;
    align-items: center;
}

.nav span {
    color: #222;
    font-size: 13px;
    padding-right: 20px;
    text-decoration: none;
}

.linkoff {
    text-decoration: none;
}

.link {
    text-decoration: none;
}

.link span {
    color: #d21;
}

.img {
    width: 92px;
    height: 90px;
    margin-left: 30px;
}

.img img {
    width: 92px;
    height: 90px;
}

.divButton {
    display: flex;
    align-items: center;
    width: 10%;
    justify-content: space-evenly;
}

.user {
    height: 20px;
    width: 20px;
}

.user:hover {
    cursor: pointer;
}

@media (max-width: 768px) {
    .img {
        margin-right: 20px;
    }
}

@media (max-width: 425px) {
    .img {
        margin-left: 10px;
    }

    .divButton {
        width: 20%;
    }
}

@media (max-width: 320px) {

    .user {
        margin-left: 80px;
        height: 15px;
        width: 15px;
    }

    .nav {
        width: 70%;
    }

    .contenedorSpan {
        width: 70%;
    }

    .contenedorSpan strong {
        font-size: 8px;
    }

    .img {
        margin-left: 0px;
    }

    .divButton {
        width: 0px;
    }
}