.contenedor {
    display: flex;
    justify-content: center;
}

.contenedorSub {
    display: inline-block;
    background-color: #eee;
    box-shadow: 5px 5px #222;
    border-radius: 10px;
}


.contenedorBoton {
    display: inline-block;
    height: 25px;
}

.botonCarro {
    display: inline-block;
    height: 25px;
    width: 150px;
}

.resta {
    height: 25px;
    width: 25px;
    margin-right: 20px;
}

.suma {
    height: 25px;
    width: 25px;
    margin-left: 20px;
}

.numero {
    display: inline-block;
    color: black;
}