.tituloFooter {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid #eee;
    margin-top: 50px;
}

.tituloFooter h1 {
    font-size: 25px;
}

.tituloFooter p {
    font-size: 15px;
    color: #333;
}

.containerImg {
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
}

.containerImg h3 {
    font-size: 22px;
}

.img {
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.miniContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 22%;
}

.miniContainer p {
    color: #333;
    font-size: 14px;
}

.finalPie {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #333;
}

.containSpan {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 25px;
    font-size: 13px;
    width: 100%;
}

.containSpan span {
    color: #fff;
    margin-right: 30px;
    cursor: pointer;
}

.containTexto p {
    font-size: 13px;
    color: #ccc;
    width: 100%;
}

.lgImg {
    border-radius: 5px;
}

@media (max-width: 1024px) {
    .containSpan {
        padding-right: 200px;
    }
}

@media (max-width: 768px) {
    .containerLgImg {
        padding: 10px;
    }

    .containSpan {
        padding-right: 10px;
    }

    .containerLgImg {
        margin-left: 30px;
        width: 100vw;
        float: left;
    }

    .finalPie {
        display: flex;
        flex-wrap: wrap;
    }

    .containerLgImg {
        margin: 0px;
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 425px) {

    .miniContainer p {
        font-size: 12px;
    }

    .tituloFooter p {
        font-size: 12px;
        margin-left: 10px;
    }

    .containTexto {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .containTexto p {
        width: 90%;
        font-size: 12px;
    }

    .containSpan {
        display: flex;
        flex-direction: row;
        width: 90%;
    }

    .containSpan span {
        padding: 10px 0px;
        font-size: 12px;
        margin-right: 0px;
    }

    .finalPie {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .containerImg {
        display: flex;
        flex-direction: column;
        margin: 0px;
    }

    .miniContainer {
        width: 100vw;
        border-bottom: 1px solid #ddd;
    }

    .miniContainer img {
        position: absolute;
        left: 0px;
    }

    .miniContainer p {
        width: 80vw;
    }
}